{% extends "bootstrap/base.html" %}

{% block content %}
    <!-- <h1>Sign In</h1> -->
    <!-- <form action="{{url_for('login')}}" method="POST">
        {{ form.csrf_token}}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>
    </form> -->

    <div id="upper_container">    	
            <div id="div_container_login">		        
                    <h2 id="h_login"> 
                <i class="fa fa-user-circle" aria-hidden="true"></i>		
                Sign in 
                </h2>      	
                        <hr />
                    <form method="POST" action="{{url_for('login')}}">
                            {{form.csrf_token}}
                            <input name="username" class="input_textbox" type="text" placeholder="Username..." required="required" />
                            
                            <br />
                            <input name="password" class="input_textbox" type="password" placeholder="Password..." required="required" />
                            <br /><br />            		<a class="a_link_login" href="html_create_account.html"> Create Account </a>
                            <a class="a_link_login" href=""> Forgot Password? </a>
                            <br />
                            <!-- <p>{{form.submit()}}</p> -->
                            <input type="submit" id="button_submit_login" value="Login" />
                    </form>
            </div>

{% endblock %}